/* Add application styles & imports to this file! */

body {
  margin: 0;
  font-family: Lato;
  min-width: 320px;
}

.left {float: left;}
.right {float: right;}

.upper {text-transform: uppercase;}

